.Logo {
    background-color: #01a6ff;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.Logo img {
    height: 100%;
}