.App {
    width: 100vw;
    height: 90vh;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

body * {background-color: rgba(255,0, 0, .2);}
body * * {background-color: rgba(0, 255, 0, .2);}
body * * * {background-color: rgba(0, 0, 255,.2);}
body * * * * {background-color: rgba(255, 0, 255, .2);}
body * * * * * {background-color: rgba(0, 255, 255, .2);}
body * * * * * *{background-color: rgba(255, 255, 0, .2);}
body * * * * * * *{background-color: rgba(255, 0, 0, .2);}
